.list-container {
    width: 385px;
    padding: 24px;
}

.list-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-container ul li {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding: 4px 16px;
    box-shadow: 0 0 15px #dedede;
    border: 1px solid #dedede;
    border-radius: 4px;
    text-transform: capitalize;
}

.list-container ul li button {
    margin-left: auto;
}